<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="log4j2.xsd" status="WARN">

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t] %d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>

</Configuration>